.card-container {
  position: relative;
  background-color: var(--secondary-color);
  background-attachment: fixed;
  border-radius: 20px;
  overflow-y: hidden;
  cursor: pointer;
  height: 100%;
}

.img {
  background-attachment: relative;
  width: 100%;
  border-radius: 10px 10px 0 0;
  opacity: 0.75;
}

.img:hover {
  opacity: 1;
}


:root {
  --primary-color: rgb(66, 78, 111);
  --secondary-color: rgba(42, 55, 100, 0.562);
}

.movie-title {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 5px;
  font-weight: 600;
}

.overview {
  background-color: (var(--primary-color));
  /* padding: 2rem; */
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: .5s ease-in;
  height: 65%;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
  display:flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1.2em;
}

.card-container:hover .overview {
  transform: translateY(0);
  background-color: whitesmoke;
  margin-bottom: 0;
}